body {
    font-family: Arial, sans-serif;
}

.quiz-section-title {
    text-align: center;
    margin-top: 20px;
}

.question-block {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-options label {
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 375px) {
    header {
        display: flex;
    }

    header a {
        color: gray;
        font-weight: 300;
        text-decoration: none;
    }

    header a:hover {
        color: black;
    }

    .quiz-section-title {
        text-align: center;
        margin-top: 20px;
    }

    .quiz-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .question-block {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;

    }

    .question-block p{
        text-align: center;
        color: gray;
    }

    .quiz-section h1 {
        font-size: 15px;
    }

    button {
        background-color: black;
        padding: 5px;
        height: 30px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }

    button:hover {
        background-color: gray;
        color: rgb(0, 0, 0);
    }
}
